@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    .summer{
        background: url(./assets/images/warm-bg.jpg);
    }
    .winter{
        background: url(./assets/images/cold-bg.jpg);
    }
    .weather-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-size: contain;
        height: 100vh;
        width: 100%;
        input{
            padding: 10px 10px;
            border-radius: 5px;
            border: 1px solid rgba(255,255,255, 0.60);
            background-color: rgba(255,255,255, 0.60);
            margin: 0 10px;
        }
        button{
            padding: 10px 25px;
            margin: 0 10px;
            background-color: #94BA65;
            border: 1px solid #94BA65;
            color: #ffffff;
            border-radius: 3px;
            font-size: 16px;
        }
        .weather-box{
            background-color: rgba(44,113,82, 0.60);
            padding: 100px 35px;
            border-radius: 5px;
            color: #ffffff;
            margin-top: 50px;
            text-align: center;
            .city{
                font-size: 24px;
                font-weight: bold;
                margin: 0;
            }
            .date{
                font-size: 14px;
                font-weight: 300;
            }
            .temp{
                font-size: 52px;
                font-weight: 900;
                color: #000000;
            }
            .weather{
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
            }
            
        }
    }
}
